@font-face {
   font-family: 'iranyekan';
   src: url('../src/assets/fonts/IRANYekanRegular.ttf');
}

@font-face {
   font-family: 'iranyekan_bold';
   src: url('../src/assets/fonts/IRANYekanBold.ttf');
}

@font-face {
   font-family: 'iranyekan_light';
   src: url('../src/assets/fonts/IRANYekanLight.ttf');
}

* {
   font-family: 'iranyekan';
}

body {
   position: relative;
   padding: 0;
   margin: 0;
   direction: rtl;
}

a {
   text-decoration: none !important;
   color: #000 !important;
}

ul {
   list-style: none !important;
}